*
{
    padding:0%;
    margin:0%;
}
body
{
    background-color:black; 
}
.navbar
{
    width:100%;
    overflow:hidden;
    background-color:black;
    height:45px;
}
.c1 a
{
    float: right;
    text-align: center;
    padding: 13px;
    padding-right:13px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.c1 .dropdownbtn
{
    float: right;
    text-align: center;
    padding: 13px;
    padding-right:13px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    background-color:black;
    border:none;
    cursor: pointer;
}
.mobile-container 
{
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.navbar #myLinks
{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo a img
{
    height:40px;
    width:60px;
    float:left;
    padding-top:1px;
}
.search input[type=text] 
{
    float:left;
    padding:7px;
    border:none;
    margin-right:16px;
    margin-top:5px;
    font-size:15px;
    margin-left:10px;
    width:250px;
    border-radius:5px;
}
.search button 
{
    float: left;
    width: 30px;
    padding: 5px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid #2929a3;
    cursor: pointer;
    margin-top:9px;
}

 li {
    float: right;
  }
  
 .dropdown li a,.dropdownbtn{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropdownbtn {
    background-color:#C91212;
  }
  
  li.dropdown {
    display: block;
  }
  
  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:40px;
    opacity:0.6;
    margin-top:43px;
}
.dropdown-content1
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:40px;
  opacity:0.6;
  margin-top:43px;
}
.dropdown-content2
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:40px;
    opacity:0.6;
    margin-top:43px;
}
 
  .dropdown-content a,.dropdown-content1 a,.dropdown-content2 a {
    color: black;
    padding: 10px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
    border:1px solid black;
    border-top:none;
  }
  .dropdown-content button{
    color: black;
    padding: 10px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
    border:1px solid black;
    border-top:none;
    cursor:pointer;
  }
  .dropdown-content a:hover,.dropdown-content1 a:hover ,.dropdown-content2 a:hover  {background-color: #f1f1f1;}
  .dropdown-content button:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  .dropdown:hover .dropdown-content1 {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  .dropdown:hover .dropdown-content2 {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  .glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: rgba(20, 20, 20, 0.75);
}
 .form-popup {
  display: none;
  position: fixed;
  bottom:120px;
  left:500px;
  border:1px solid black;
  z-index: 9; 
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  height:110%;
  padding: 10px;
  background: linear-gradient(0deg, rgba(179,180,180,1) 37%, rgba(252,251,251,1) 100%);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 60%;
  padding: 15px;
  margin-left:38px;
  height:30px;
  border-radius:4px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding-bottom:7px;
  text-align:center;
  border: none;
  cursor: pointer;
  width: 60%;
  height:40px;
  margin-bottom:10px;
  opacity: 0.8;
    margin-left:80px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.show1
{
    margin-left:133px;
    margin-top:-20px;
    font-size:12px;
}
.new
{
    margin-left:160px;
    font-size:15px;
}
.register
{
    font-size:20px;
    font-family:Baskerville Old Face,cursive;
    margin-left:140px;
    margin-top:-27px;
}
.or
{
    font-size:15px;
    margin-left:190px;
    margin-top:-17px;
}
.login_with
{
    font-size:15px;
    margin-left:155px;
    margin-top:-20px;
}
.property
{
    color:white;
    background-color:dimgrey; 
}
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card1 {
  background-color: transparent;
  margin-top:-1273px;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner1 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front1 {
  background-color: #bbb;
  color: black;
}

.flip-card-back1 {
  background-color: #2980b9;
  color: white;
  margin-top:100px;
  transform: rotateY(180deg);
}

.flip-card2 {
  background-color: transparent;
  margin-top:-1232px;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

.flip-card-back2 {
  background-color: #2980b9;
  color: white;
  margin-top:100px;
  transform: rotateY(180deg);
}

.flip-card3 {
  background-color: transparent;
  margin-top:-1208px;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front3 {
  background-color: #bbb;
  color: black;
}

.flip-card-back3 {
  background-color: #2980b9;
  color: white;
  margin-top:100px;
  transform: rotateY(180deg);
}

.flip-card4 {
  background-color: transparent;
  width: 100%;
  height:350px;
  perspective: 1000px;
}

.flip-card-inner4 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card4:hover .flip-card-inner4{
  transform: rotateY(180deg);
}

.flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front4 {
  background-color:black;
  color: black;
}

.flip-card-back4 {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card5 {
  background-color: transparent;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner5 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card5:hover .flip-card-inner5{
  transform: rotateY(180deg);
}

.flip-card-front5, .flip-card-back5 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front5 {
  background-color:black;
  color: black;
}

.flip-card-back5 {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card6 {
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top:10px;
  perspective: 1000px;
}

.flip-card-inner6 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card6:hover .flip-card-inner6{
  transform: rotateY(180deg);
}

.flip-card-front6, .flip-card-back6 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front6 {
  background-color:black;
  color: black;
}

.flip-card-back6{
  background-color: black;
  color: white;
    margin-top:100px;
  transform: rotateY(180deg);
}

.flip-card7 {
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top:15px;
  perspective: 1000px;
}

.flip-card-inner7 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card7:hover .flip-card-inner7{
  transform: rotateY(180deg);
}

.flip-card-front7, .flip-card-back7 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front7 {
  background-color:black;
  color: black;
}

.flip-card-back7{
  background-color: black;
  color: white;
  margin-top:100px;
  transform: rotateY(180deg);
}

.flip-card8 {
  background-color: transparent;
  width: 100%;
  height:150px;
  margin-top:-1178px;
  perspective: 1000px;
}

.flip-card-inner8 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card8:hover .flip-card-inner8{
  transform: rotateY(180deg);
}

.flip-card-front8, .flip-card-back8 {
  position: absolute;
  width: 100%;
  height:150px;
  backface-visibility: hidden;
}

.flip-card-front8 {
  background-color:black;
  color: black;
}

.flip-card-back8{
  background-color: black;
  color: white;
    margin-top:10px;
  transform: rotateY(180deg);
}

.flip-card9 {
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top:-1202px;
  perspective: 1000px;
}

.flip-card-inner9 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card9:hover .flip-card-inner9{
  transform: rotateY(180deg);
}

.flip-card-front9, .flip-card-back9 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front9 {
  background-color:black;
  color: black;
}

.flip-card-back9{
  background-color: black;
  color: white;
    margin-top:10px;
  transform: rotateY(180deg);
}

.flip-card10{
  background-color: transparent;
  width: 100%;
  height:350px;
  perspective: 1000px;
}

.flip-card-inner10 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card10:hover .flip-card-inner10{
  transform: rotateY(180deg);
}

.flip-card-front10, .flip-card-back10 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front10 {
  background-color:black;
  color: black;
}

.flip-card-back10{
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card11{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top: -1207px;
  perspective: 1000px;
}

.flip-card-inner11 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card11:hover .flip-card-inner11{
  transform: rotateY(180deg);
}

.flip-card-front11, .flip-card-back11 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front11{
  background-color:black;
  color: black;
}

.flip-card-back11{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card12{
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top: 15px;
  perspective: 1000px;
}

.flip-card-inner12 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card12:hover .flip-card-inner12{
  transform: rotateY(180deg);
}

.flip-card-front12, .flip-card-back12 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front12{
  background-color:black;
  color: black;
}

.flip-card-back12{
  background-color: black;
  margin-top:100px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card13{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top:15px;
  perspective: 1000px;
}

.flip-card-inner13 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card13:hover .flip-card-inner13{
  transform: rotateY(180deg);
}

.flip-card-front13, .flip-card-back13 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front13{
  background-color:black;
  color: black;
}

.flip-card-back13{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card14{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top:-1205px;
  perspective: 1000px;
}

.flip-card-inner14 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card14:hover .flip-card-inner14{
  transform: rotateY(180deg);
}

.flip-card-front14, .flip-card-back14 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front14{
  background-color:black;
  color: black;
}

.flip-card-back14{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card15{
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top:10px;
  perspective: 1000px;
}

.flip-card-inner15 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card15:hover .flip-card-inner15{
  transform: rotateY(180deg);
}

.flip-card-front15, .flip-card-back15 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front15{
  background-color:black;
  color: black;
}

.flip-card-back15{
  background-color: black;
  margin-top:100px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card16{
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top: 15px;
  perspective: 1000px;
}

.flip-card-inner16 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card16:hover .flip-card-inner16{
  transform: rotateY(180deg);
}

.flip-card-front16, .flip-card-back16 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front16{
  background-color:black;
  color: black;
}

.flip-card-back16{
  background-color: black;
  margin-top:100px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card17{
  background-color: transparent;
  width: 100%;
  height:350px;
  margin-top: 15px;
  perspective: 1000px;
}

.flip-card-inner17 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card17:hover .flip-card-inner17{
  transform: rotateY(180deg);
}

.flip-card-front17, .flip-card-back17 {
  position: absolute;
  width: 100%;
  height:350px;
  backface-visibility: hidden;
}

.flip-card-front17{
  background-color:black;
  color: black;
}

.flip-card-back17{
  background-color: black;
  margin-top:100px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card18{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top: -1240px;
  perspective: 1000px;
}

.flip-card-inner18 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card18:hover .flip-card-inner18{
  transform: rotateY(180deg);
}

.flip-card-front18, .flip-card-back18 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front18{
  background-color:black;
  color: black;
}

.flip-card-back18{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card19{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top: -1207px;
  perspective: 1000px;
}

.flip-card-inner19 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card19:hover .flip-card-inner19{
  transform: rotateY(180deg);
}

.flip-card-front19, .flip-card-back19 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front19{
  background-color:black;
  color: black;
}

.flip-card-back19{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}

.flip-card20{
  background-color: transparent;
  width: 100%;
  height:100%;
  margin-top:-1240px;
  perspective: 1000px;
}

.flip-card-inner20 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card20:hover .flip-card-inner20{
  transform: rotateY(180deg);
}

.flip-card-front20, .flip-card-back20 {
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front20{
  background-color:black;
  color: black;
}

.flip-card-back20{
  background-color: black;
  margin-top:10px;
  color: white;
  transform: rotateY(180deg);
}
